body {
background-color: orange;
margin: 0;
padding: 0;
}

#board {
    background-image: url("../images/snake-game-background.jpeg");
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#snake {
    background: url("../images/snake.png"); 
    position: absolute;
}

.food {
    background: url("../images/apple.png"); 
    position: absolute;
}

#gameOverScreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-over-container {
    text-align: center;
    color: white;
}

.game-over-container h1 {
    font-size: 48px;
}

.game-over-container p {
    font-size: 24px;
}

.game-over-container button {
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

.score-box {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.score-box p {
    margin: 0;
}

.score-box span {
    font-weight: bold;
}